* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --red: #D95F57;
    --red-hover: #D0392F;
    --red-press: #A62E26;
    --orange: #F07142;
    --orange-hover: #EC4E13;
    --orange-press: #BD3E0F;
    --yellow: #FAC238;
    --yellow-hover: #F9B206;
    --yellow-press: #C78F05;
    --green: #99CC66;
    --green-hover: #7FBF40;
    --green-press: #669933;
    --project: #236B9F;
    --project-hover: #1B5884;
    --project-press: #133D5C;
    --dark: #333333;
    --dark-hover: #252528;
    --dark-press: #19191A;
    --faded: #50515690;
    --nav-blend: #ffffffcd;
}

html {
    background-color: var(--white);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}
    
li {
    list-style: none;
    color: inherit;
}

sub {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--faded);
    line-height: 0%;
}

h1 {
    font-weight: bolder;
    font-size: 64px;
}

h5 {
    font-weight: 500;
}

button {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 16px;
    border: none;
    border-radius: 16px;
    transition: .4s;
    color: inherit;
}

.btn-lite {
    margin-top: 16px;
    color: white;
}

.btn-dark {
    margin-top: 16px;
    color: black;
}

.project-btn{background-color: var(--project);}
.about-btn {background-color: var(--red);}
.contact-btn {background-color: var(--yellow);}

.project-btn:hover{background-color: var(--project-hover);}
.about-btn:hover {background-color: var(--red-hover);}
.contact-btn:hover {background-color: var(--yellow-hover);}

.project-btn:active{background-color: var(--project-press);}
.about-btn:active {background-color: var(--red-press);}
.contact-btn:active {background-color: var(--yellow-press);}

#nav-placeholder {
    z-index: 9;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--nav-blend);
    color: inherit;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.menu {
    z-index: 5;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.menu li {
    position: relative;
}

.menu li a {
    color: inherit;
    padding: 8px 16px;
}

.menu li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: var(--dark);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menu li a:hover::before {
    transform: scaleX(.8);
    color: var(--dark);
}

.logo {
    z-index: 99;
}

.logo a {
    display: flex;
    color: inherit;
    font-size: 24px;
}

.logo img {
    margin-right: 12px;
}

.dropdown {
    font-weight: 300;
    background-color: inherit;
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 56px;
    right: 0;
}

.dropdown li {
    padding: 0;
    width: 8em;
}

.dropdown li:hover {
    height: 100%;
    background-color: var(--dark-hover);
}

.dropdown li + li {margin-top: 10px;}
.dropdown li a {padding: 0;}
.dropdown li:active {background-color: var(--dark-press);}
.dropdown li a:hover::before {transform: scaleX(0);}
.dropdown li a:active {background-color: var(--dark-press);}

.services {
    transform: none;
    cursor: pointer;
    border-radius: 16px;
    background-color: #4c4c4c;
    padding: 8px 16px;
    color: white;
}

.services:hover {
    background-color: var(--dark-hover);
}

.services:active {
    background-color: var(--dark-press);
}

.services:hover .dropdown {
    display: block;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

.main2 {
    display: flex;
    z-index: 4;
    height: 100%;
    justify-content: space-between;
}

.main {
    display: flex;
    padding: 0 30px;
    height: 100%;
    z-index: 4;
}

.pro-text {
    max-width: 50vw;
    display: flex;
    align-items: center;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    padding: 0 30px;
}

.main-content {
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-content div {
    flex-direction: column;
}

.main-content .team-image {
    width: 50%;
}

.main-text {
    flex-direction: column;
    justify-content: center;
}

.text-content {
    max-width: 60vw;
    align-items: flex-start;
    flex-direction: column;
}

.text-content ul li,
.pro-text ul li {
    list-style: inside;
    padding-left: 24px;
}

.bg-images {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.bg-images::-webkit-scrollbar {
    display: none;
}

#background_wrap {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-image: url('xx.jpg');
    background-attachment: fixed;
}

.big-logo {
    overflow: hidden;
    position: absolute;
    width: 600px;
    height: 600px;
    right: -20px;
    bottom: -30px;
    opacity: 0.6;
    transform: rotate(-12.05deg);
    z-index: -1;
    position: fixed;
}

.heart {
    z-index: -1;
    position: fixed;
    overflow: hidden;
    position: absolute;
    width: 430px;
    height: 265px;
    left: -97px;
    bottom: -50px;
    opacity: 0.6;
    border-radius: 300px;
    transform: rotate(33.89deg);
}

.image-content {
    height: 100%;
    padding-top: 30px;
}

.project-content {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 4%;
}

.device {
    position: absolute;
    width: auto;
    max-height: 460px;
    right: 32px;
    bottom: 50%;
    top: 55%;
    margin: auto;
}

.laptop {
    width: 100%;
    max-height: 260px;
}

.contact-content {
    width: 50%;
}

.appimg {
    position: absolute;
    min-height: 120vh;
    object-fit: cover;
    right: 0%;
    bottom: 50%;
    top: 55%;
    margin: auto;
}

.half {
    display: none;
}

.appimg img {
    height: 120vh;
}

.contactimg {
    position: absolute;
    min-height: 120vh;
    height: auto;
    object-fit: cover;
    max-width: 55vw;
    right: -10%;
    bottom: 50%;
    top: 55%;
    margin: auto;
}

#footer-placeholder {
    z-index: 9;
    opacity: .4;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 12px;
    font-size: 12px;
}

footer a {
    transition: .4s;
    color: var(--faded);
    text-decoration: underline;
}

footer a:hover {
    transition: .4s;
    color: inherit;
    text-decoration: underline;
}

footer p {
    font-size: 12px;
    color: var(--faded);
}

@media (max-width: 768px) {
    body {
        align-items: center;
    }

    h1 {
        font-size: 48px;
        line-height: 1.25;
    }

    p {
        font-size: 15px;
    }

    sub {
        font-size: 12px;
    }

    footer > a {
        font-size: 10px;
        font-weight: lighter;
    }

    button {
        font-size: 14px;
    }

    .half {
        display: inline;
        position: absolute;
        bottom: 0;
        object-fit: cover;
        max-height: 400px;
        width: 100%;
    }

    .navbar {
        z-index: 8;
        box-shadow: none;
        background-color: transparent;
    }

    .menu {
        gap: 1em;
        display: none;
        position: absolute;
        background-color: var(--nav-blend);
        backdrop-filter: blur(5px);
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        text-align: center;
        padding: 16px 0;
        z-index: 9;
    }

    .menu li:hover {
        display: inline-block;
        background-color: inherit;
        transition: 0.4s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hamburger {
        display: block;
        position: fixed;
        background-color: inherit;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 40px;
        right: 30px;
        z-index: 6;
        border-radius: 50px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .services {
        margin-top: 8px;
    }

    .services a {
        pointer-events: none;
    }

    .services .dropdown {
        display: block;
    }

    .dropdown {
        display: unset;
        text-align: center;
        position: relative;
        transform: translateY(20%);
        background: none;
        top: unset;
    }

    .dropdown li {
        width: 100%;
        padding-bottom: 16px;
    }

    .dropdown li a {
        pointer-events: all;
    }

    .logo {
        display: none;
    }

    .logo a > div {
        display: flex;
        align-items: center;
        font-size: 20px;
    }

    .big-logo {
        top: -30px;
        height: 300px;
        z-index: -1;
        position: fixed;
    }

    .device {
        display: none;
    }

    .contactimg {
        display: none;
        position: absolute;
        height: auto;
        max-width: 100%;
        bottom: unset;
        left: 0;
        margin: auto;
    }

    .contact-content {
        width: 100%;
    }

    .main-content {
        width: 100%;
        flex-direction: column;
        padding: 0 18px;
        justify-content: center;
    }

    .text-content {
        padding-top: 30px;
        max-width: none;
    }

    .main-content .team-image {
        width: 80%;
        height: auto;
    }

    .appimg {
        min-height: 0;
        width: 100%;
        display: flex;
        min-height: 0;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        bottom: unset;
        top: 65%;
        right: 0;
    }

    .appimg img:nth-child(1) {
        width: 50%;
        height: auto;
    }

    .appimg img:nth-child(2) {
        width: 50%;
        height: auto;
    }

    .pro-text {
        max-width: 100%;
        padding: 0 18px;
    }
    
    footer {
        flex-direction: column;
        font-size: 12px;
    }

    #footer-placeholder {
        position: unset;
        z-index: 9;
        opacity: 1;
    }

}

@media (max-width: 1134px) and (min-width: 769px) {
    .appimg {
        right: -20%;
    }
}