html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--yellow-0);
}

.container {
    padding: 0 80px;
}

button {
    margin-top: 8px;
    border: 4px solid;
}

.text-content p {
    width: 80%;
}

.nav-links a {
    color: var(--dark);
}

.image-content {
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.12)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
}

.menu li:hover {
    background-color: var(--yellow-40);
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        text-align: center;
    }

    .image-content img {
        height: 280px;
    }

    .text-content p {
        width: 100%;
    }

    .menu {
        background-color: var(--yellow-blend);
    }

    .menu li:hover {
        background-color: var(--faded);
        color: white;
    }

    .menu li a:hover {
        color: white;
    }
}