body {
    background: linear-gradient(180deg, #3988E4 0%, #91FFF2 45.62%, rgba(166, 255, 196, 0) 100%);
}

.navbar {
    color: var(--white);
}

.nav-links a {
    color: var(--white);
}

.menu li:hover {
    background-color: var(--gray-0);
}

.dropdown {
    background-color: var(--gray-0);
}

.dropdown li:hover {
    background-color: var(--green-0);
}

.menu li:hover {
    background-color:var(--gray-0);
}

.centered {
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.centered p {
    margin: 16px 0;
}

button {
    margin-top: 8px;
    color: var(--dark);
    border: 4px solid var(--dark);
}

button:hover,
button:active {
    background-color: var(--white);
}

.image_background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-image: url("/img/landscape.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
