
<nav class="navbar">
    <div class="logo"><a href="https://animalinsights.netlify.app"><img src="./icons/nav-logo.svg" alt=""><div>Animal Insights</div></a></div>
        <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger"><img src="../icons/nav-logo.png" alt=""></label>
        <div class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="https://animalinsights.netlify.app/about">About</a></li>
            <li><a href="https://animalinsights.netlify.app/team">Team</a></li>
            <li><a href="https://animalinsights.netlify.app/contact">Contact</a></li>
            <button class="services">
                <a href="https://animalinsights.netlify.app/projects">Projects</a>
                <ul class="dropdown">
                    <li><a href="https://animalinsights.netlify.app/projects">Sustain Our Shelters</a></li>
                    <li><a href="https://animalinsights.netlify.app/petcode">PetCode</a></li>
                </ul>
            </button>
        </div>
    </ul>
</nav>