
<nav class="navbar">
    <div class="logo"><a href="/index.html"><img src="./icons/nav-logo.svg" alt=""><div>Animal Insights</div></a></div>
        <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/team.html">Team</a></li>
            <li><a href="/contact.html">Contact</a></li>
            <button class="services">
                <a href="/projects.html">Projects</a>
                <ul class="dropdown">
                    <li><a href="/">Sustain Our Shelters</a></li>
                    <li><a href="/">PetCode</a></li>
                </ul>
            </button>
        </div>
    </ul>
</nav>