html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--orange-0);
}

.container {
    padding: 0 80px;
}


.text-content p {
    width: 80%;
}

.nav-links a {
    color: var(--dark);
}

.team-viewer {
    text-align: center;
    padding-top: 24px;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.member {
    margin: 8px;
    height: auto;
    max-width: 100%;
}

.circle {
    max-width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.circle img {
    max-width: 100px;
    height: 100%;
}

.image-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.image-content a {
    float: right;
    color: #4d4d4d;
    font-size: 24px;
}

.image-content a:hover,
.image-content a:active {
    text-decoration: underline;
}

.image-content img {
    max-width: 100%;
    height: fit-content;
}

.column {
    display: flex;
}

.menu li:hover {
    background-color: var(--orange-40);
}

#back {
    display: none;
}

@media (max-width: 900px) {
    h1 {
        font-size: 32px;
    }

    p {
        font-size: 15px;
    }

    sub {
        font-size: 12px;
    }

    footer > a {
        font-size: 10px;
        font-weight: lighter;
    }

    button {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .hamburger {
        background-color: var(--orange-40);
    }

    .container {
        padding: 0 30px;
        flex-direction: column-reverse;
    }

    .team-viewer {
        max-height: 200px;
        padding: 0;
        justify-content: space-between;
    }

    .circle {
        max-width: 60px;
        height: 60px;
    }

    .text-content {
        text-align: center;
    }

    .text-content p {
        width: 100%;
    }

    .menu {
        background-color: var(--orange-blend);
    }

    .menu li:hover {
        background-color: var(--faded);
        color: white;
    }

    .menu li a:hover {
        color: white;
    }

    .member {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 80px;
    }

    .image-content a {
        padding: 8px;
        float: none;
        text-align: center;
    }

    .image-content img {
        min-width: auto;
    }
}